.table-header {
  color: #4d98ff !important;
  font-weight: 600 !important;
  font-size: clamp(12px, 10.8px + 0.375vw, 18px) !important;
  /* font-family: 'Open Sans', sans-serif; */
  font-style: semi-bold !important;
}

.tab-content {
    color: #383f7a !important;
    font-family: "Open Sans", sans-serif;
    font-size: clamp(10px, 8.8px + 0.375vw, 16px) !important;
    font-weight: 400 !important;
}

.high-badge {
  background-color: #e2fff4 !important;
  color: #34c38f !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.medium-badge {
  background-color: #fff7e9 !important;
  color: #f1b44c !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.weak-badge {
  background-color: #fff0f0 !important;
  color: #f46a6a !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.pending-badge {
  background-color: #efefef;
  color: #787878;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.uploaded-badge {
  background-color: #ecf7ff;
  color: #014fb9;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.generated-badge {
  background-color: #ecfff6;
  color: #1aa673;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.view-all-btn {
  font-weight: 600;
  font-size: clamp(12px, 10.8px + 0.375vw, 18px) !important;
  font-style: semi-bold !important;
  color: #003276 !important;
}



