.table-header {
  color: #4d98ff !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  font-family: 'Proxima Nova', sans-serif !important; 
  font-style: semi-bold !important;
  
}

.tab-content {
    color: #383f7a !important;
    font-family: "Open Sans", sans-serif;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.high-badge {
  background-color: #e2fff4 !important;
  color: #34c38f !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.medium-badge {
  background-color: #fff7e9 !important;
  color: #f1b44c !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.weak-badge {
  background-color: #fff0f0 !important;
  color: #f46a6a !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.pending-badge {
  background-color: #efefef;
  color: #787878;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.uploaded-badge {
  background-color: #ecf7ff;
  color: #014fb9;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.generated-badge {
  background-color: #ecfff6;
  color: #1aa673;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.view-all-btn {
  font-weight: 600;
  font-size: 18px !important;
  font-style: semi-bold !important;
  color: #003276 !important;
   font-family: 'Proxima Nova', sans-serif !important;
}


.profile-badge {
  background-color: #ECF7FF !important;
  color: #014FB9 !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  cursor: pointer;

}

.success-badge {
  background-color: #ECFFF6 !important;
  color: #1AA673 !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;

}

.in-process-badge{
  background-color: #FFF8EC !important;
  color: #C78A23 !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;

}

.pending-review-badge{
  background-color: #ECEFFF !important;
  color: #4061CF !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;

}

.active-badge{
  background-color: #F3FFEC !important;
  color: #44A61A !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;

}

.awaiting-checks{
  background-color: #FFECFB !important;
  color: #C14696 !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;

}

.view{
  background-color: #ECF7FF !important;
  color: #014FB9 !important;
  border-radius: 40px !important;
  padding: 6px 12px !important;
  font-weight: 600 !important;
  font-size: 14px !important;

}