
h6 {
    font-size: clamp(13px, 10.4px + 0.8125vw, 26px);
    font-weight: 400 !important;
    color: #383F7A;
    font-family: 'Proxima Nova', sans-serif;
}
h4 {
    font-size: clamp(20px, 16px + 1.25vw, 40px);
    font-weight: 600;
    font-style: semi-bold;
    color: #4D98FF;
    font-family: 'Proxima Nova', sans-serif;

}

p {
    color: #383F7A;
    font-weight: 400;
    font-style: regular;
    font-size: 14px;
    font-family: 'Proxima Nova', sans-serif;

}

@media (max-width: 1490px) {
    .card-text {
        float: left;;
    }
}