@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_black.otf') format('opentype');
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_bold.otf') format('opentype');
  font-weight: 600;

  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova_regular.otf') format('opentype ');
 
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}


.card {
  border: none;
  border-radius: 40px;
}


/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

/* Headings ka alag font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Proxima Nova', sans-serif;
}

/* Paragraph aur normal text */
p, span, a, td, th {
  font-family: 'Open Sans', sans-serif;
}

